body {
    text-align: center;
}

.main_container {
    margin-top: 100px;
    vertical-align: middle;
    text-align: center;
    background-color: lightblue;
    display: inline-block;
    width: 500px;
    padding: 20px;
    border-radius: 5%;
}

form {
    text-align: center;
    margin: 0 auto;
    text-align: center;
    width: 150px;
}

input {
    display: block;
    margin: 10px;
}

.php_out {
    margin-top: 200px;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
}

.main_page {
    text-decoration: none;
}